html{
    
    margin: 0px;
    padding: 0px;
}

header{
    width: 100vw;
    height: 8vh;
    font-size: 1.2rem;
    background-color: #2e2e28;
}
main{
    width: 100vw;
    color: #bfc734;
    padding: 0px;
    
}
body{
    width: 100vw;
    height: 93vh;
    margin: 0px;
    background-color: #2e2e28;
    
}
#bytStation{
    padding: 22px 15px;
    color: #bfc734;
    cursor: pointer;
}
#indexBackground{
    width: 100vw;
    height: 100vh;
    background-image: url(bilder/backgroundx1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
}
#topDiv{
    height: 50vh;
    width: 100vw;
}
#midDiv{
    width: 100vw;
    height: 35vh;
    background-color: rgb(46, 46, 51, 90%);
    

}
#botDiv{
    width: 100vw;
    height: 15vh;

    background-color: rgb(46, 46, 51, 90%);

}

.textBox{
    background-color: #fff;
    width: 70vw;
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 50px;
    border: thin;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    
}


#showTableButton{
    width: 60vw;
    height: 50px;
    
    position: relative;
    margin: 0 auto;
    display: block;
    border: thin;
    color: #fff;
    background-color: #1CE1E8;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    border: 3px solid#fff;
    font-family: 'Bitter', serif;
    cursor: pointer;
}
.avgångarHeader{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
table{
    width: 95vw;
    /* border: solid 0.5px black; */
    font-size: 17px;
    padding: 0px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    color: #bfc734;
    font-family: 'Montserrat', sans-serif;

}
#destCol{
    width: 55vw;
    margin: 0;
}
#gåOmCol{
    width: 20vw;
    margin: 0;
    color: #ff3903;
}
#lineCol{
    width: 5vw;
    margin: 0;
}
td{
    width: 20vw;
    margin: 0;
}
label{
    padding: 0px 15vw;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.whiteHr{
    background-color: #fff;
    height: 2px;
    border: 0;
    position: relative;
}
.greyHr{
    background-color: #bfc734;
    height: 2px;
    border: 0;
    position: relative;
}
.greyHr2{
    background-color: #bfc734;
    height: 1px;
    border: 0;
    padding: 0px 10px;
    margin: 10px;
    position: relative;
}
#avgångarFrån{
    padding: 0px 10px;
    font-weight: normal;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 26px;

}

.textBox:focus{
    
}
.textBox::-webkit-input-placeholder::before {
    color:#666;
    content:"Line 1\A Line 2\A Line 3\A";
}

.button:focus{

}
#stationTextBox{
    
}
#destinationTextBox{
    
}