html{
    
}
body{
    width: 100%;
    margin: 0px;
}
header{
    height: 8vh;
    position: relative;
    top: 3vh;
    left: 7%;
    color: #1CE1E8;
    font-size: 1.2rem;
    background-color: #EEEEEE;
}
main{
    width: 100vw;
    padding: 2%;
}
body{
    width: 100vw;
    height: 93vh;
    background-color: #EEEEEE;
}
#indexBackground{
    width: 100vw;
    height: 100vh;
    background-image: url(bilder/backgroundx1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
}
#topDiv{
    height: 50vh;
    width: 100vw;
    margin: 0 auto;
}
#midDiv{
    width: 100vw;
    height: 35vh;
    background-color: rgb(46, 46, 51, 90%);
    margin: 0 auto;
    padding: 0px;

}
#botDiv{
    width: 100vw;
    height: 15vh;
    margin: 0 auto;
    background-color: rgb(46, 46, 51, 90%);
    padding: 0px;
}

.textBox{
    background-color: #fff;
    width: 300px;
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 50px;
    border: thin;
    font-size: 1.2rem;
    border-radius: 10px;
    outline: none;
    
}


#showTableButton{
    width: 260px;
    height: 50px;
    
    position: relative;
    margin: 0 auto;
    display: block;
    border: thin;
    color: #fff;
    background-color: #1CE1E8;
    font-size: 1.2rem;
    outline: none;
    border-radius: 15px;
    border: 3px solid#fff;
    
}
table{
    width: 96vw;
    border: solid 0.5px black;
    font-size: 1.1rem;
    padding: 0px;
    margin: 0;
}
#destCol{
    width: 70vw;
}
td{
    width: 15vw;
}
label{
    padding: 40px;
    padding-bottom: 5px;
    color: #fff;
}
.whiteHr{
    background-color: #fff;
    height: 2px;
    border: 0;
    position: relative;
}
.greyHr{
    background-color: #666;
    height: 2px;
    border: 0;
    position: relative;
}

.textBox:focus{
    
}
.textBox::-webkit-input-placeholder::before {
    color:#666;
    content:"Line 1\A Line 2\A Line 3\A";
}

.button:focus{

}
#stationTextBox{
    
}
#destinationTextBox{
    
}